@media only screen and (max-width:1272px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    /* nav start  */
    .nav .nav-ul {
        display: none;
    }

    .nav button {
        background-color: transparent;
        border: none;
          display: block;
    }
    .nav{
        margin: 0px 20px;
    }
   /* nav close  */
}

/* mobile screen  */
@media only screen and (max-width:574px) {
    /* .nav .nav-ul{
        display: none;
    } */

    /* .leftimage img {
        height: 100px;
        width: 100px;
        margin-left: 50px;
    }

    .part1 .content {
        padding: 0px 0px;
        margin-left: 100px;
    }

    .content p {
        margin: 10px 0px;
        width: 80%;
        
    }
    .content h1{
        width: 70%;
    }
    .content button{
        padding: 10px 10px;
        display: inline-block;
    } */
}